<h1>レシピ一覧</h1>

<% if user_signed_in? %>
  <%= link_to "新規レシピ投稿", new_recipe_path %>
<% end %>


<% @recipes.each do |recipe| %>
  <div style="margin-bottom:20px;">
    <% if recipe.image.attached? %>
      <%= image_tag recipe.image, width: 200 %>
    <% end %>

    <h2><%= link_to recipe.title, recipe_path(recipe) %></h2>

    <p>投稿者：
      <%= link_to recipe.user.name, user_path(recipe.user) %>
    </p>

    <p>コメント数：<%= recipe.comments.count %></p>

    <p>投稿者の総コメント数：<%= recipe.user.comments.count %></p>

    <p><%= truncate(recipe.body, length: 80) %></p>
  </div>
<% end %>