<h1><%= @recipe.title %></h1>

<% if @recipe.image.attached? %>
  <%= image_tag url_for(@recipe.image), width: 400 %>
<% end %>

<p><%= @recipe.body %></p>

<p>投稿者：<%= link_to @recipe.user.name, user_path(@recipe.user) %></p>

<% if user_signed_in? && @recipe.user == current_user %>
  <%= link_to "編集", edit_recipe_path(@recipe) %> |
  <%= link_to "削除", recipe_path(@recipe),
        method: :delete,
        data: { confirm: "本当に削除しますか？" } %>
<% end %>

<%= link_to "一覧へ戻る", recipes_path %>


<hr>

<h2>画像・内容の編集</h2>

<%= form_with model: @recipe, local: true, html: { multipart: true } do |f| %>

  <% if @recipe.errors.any? %>
    <div class="errors">
      <h3><%= pluralize(@recipe.errors.count, "件のエラー") %>があります</h3>
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :image, "画像" %><br>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.label :title, "レシピ名" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body, "作り方" %><br>
    <%= f.text_area :body %>
  </div>

  <%= f.submit "保存する" %>
<% end %>