<h1>ユーザー情報編集</h1>

<%= form_with model: @user, local: true do |f| %>

  <% if @user.errors.any? %>
    <div class="errors">
      <% @user.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= f.label :name, "氏名" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email %>
  </div>

  <%= f.submit "更新する" %>
<% end %>

<hr>

<h2>退会</h2>

<%= button_to "退会する", user_path(@user),
      method: :delete,
      data: { confirm: "本当に退会しますか？" } %>